body {
    background-color: cornflowerblue;
}

h1 {
    text-align: center;
}
#one {
    background-color: red;
 }
 
 #two {
     background-color: snow;
 }

div {
    background-color: green;
    height: 250px;
    width: 250px;
    animation-name: box;
    animation-duration: 4s;
}

li {
    text-align: center;
    color: blue;
}


@keyframes box {
    from {background-color: green;}
    to {background-color: cornflowerblue;}
}