body {
    
}

h1 {
    text-align: center;
}
#one {
    background-color: red;
 }
 
 #two {
     background-color: snow;
 }

/*div {
    background-color: green;
    height: 250px;
    width: 250px;
    position: relative;
    animation-name: box;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

li {
    text-align: center;
    color: blue;
}


@keyframes box {
   0% {background-color: red; left: 0px; top: 0px;}
   25% {background-color: green; left: 300px; top: 0px;}
   50% {background-color: yellow; left: 300px; top: 300px;}
   75% {background-color: blue; left: 0px; top: 300px;}
   100% {background-color: red; left: 0px; top: 0px;}
}*/

/*div {
    display: inline;
    height: 250px;
    width: 250px;
    background-color: green;
    animation-name: boxy;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}*/

/*@keyframes boxy { 
   50% {transform: rotateXS(180deg);}
   100% {transform: rotateX(180deg);}
}*/

.cube {
    width: 100px;
    height: 100px;
    top: 50%;   
    left: 50%;
    position: absolute;
    transform-style: preserve-3d;
    transform: rotateX(240deg) rotateY(-5deg) rotateZ(-115deg);
    
}

.box {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 10%;
    
}

.top {
    transform: translateZ(-100px);
    background: blue;
}

.right {
    transform: rotateX(90deg);
    transform-origin: bottom;
    background: red;
}

.left {
    width: 100px;
    transform: translateZ(-100px) rotateY(90deg);
    transform-origin: right;
    background: green;
}

